.addAtomBody {
    height: auto;
    width: 1000px;
}

.selectProject {
    border-radius: 5px;
    color: white; 
    display: inline-block;
    cursor: pointer;
    transition: .1s;
}

.selectProjectActive {
    transition: 1s;
    border-radius: 0px;
}

@media only screen and (max-width: 1000px) {
    .addAtomBody {
        width: 90vw;
    }
}