/* Add group */

.title {
    color: #358bdc;
}

.basic-form {
    background-color: white;
}

.my-form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(10,10,10,0.2);
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.my-form-control:focus{
    color: #495057;
    background-color: #fff;
    outline: 0;
    border-color: rgb(88, 86, 86);
    box-shadow: 0 0 0 0.1rem rgba(54, 45, 48, 0.25);
}

.bg-addProject {
    background-color:  white !important;
    border-bottom: none !important;
}

.selectedCountry {
    font-size: 12px;
    color: black;
    background-color: rgba(1, 126, 255, 0.05);
}

.selectedCountryImg {
    height: 2rem;
    width: 2rem;
}
.queryCountryImg {
    height: 1rem;
    width: 1rem;
}

.holo {
    float: left;
    border-radius: 6px;
    color: black;
    position: absolute;
    font-size: 12px;
    line-height: 20px;
    border-top: none;
    background-color: white;
    width: 50%;
    z-index: 100;
}
.noMarginBot {
    margin-bottom: 0px !important;
}

.click {
    cursor: pointer;
}

.addProjectContainer {
    width: 60rem !important;
    max-width: 90vw !important;

}

.projectTitle {
    text-decoration: none !important; 
    color: rgba(10,10,10,0.7);
}

.tagColor {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: .1s;
}

.tagActive {
    width: 55px;
    height: 32px;
    transition: .1s;
    border-radius: 0px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; 
}

.deleteX {
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: pink; 
    cursor: pointer;
    position: absolute;
}

.showAtomsLink {
    cursor: pointer;
    position: absolute; 
    bottom: 20px;
    left: 40px;
    font-size: 11px;
    border: solid 1px #78D9F7;
    border-radius: 2px;
    padding: 4px 8px;
    color: #6ebbd3 !important;
    text-decoration: none;
    font-weight: bold;
}

.showAtomsLinkActive, .showAtomsLink:hover {
    background-color: #78D9F7;
    color: white !important;
    text-decoration: none;
}

.ctaButton {
    cursor: pointer;
    font-size: 11px;
    border: solid 1.4px #78D9F7;
    border-radius: 2px;
    padding: 4px 8px;
    color: #6ebbd3 !important;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.ctaButtonActive, .ctaButton:hover {
    background-color: #78D9F7;
    color: white !important;
    text-decoration: none;
    transition: .3s;
}

.showAtomsLink {
    position: absolute; 
    bottom: 20px;
    left: 40px;
}

.atomLinkLoader {
    border-radius: 2px;
    position: absolute; 
    bottom: 20px;
    left: 40px;
    background-color: rgba(10, 10, 10, 0.05);
    height: 25px;
    width: 60px;
}

.card {
    border: none !important;
    border-radius: 0px !important;
}

.cardDate {
    position: absolute;
    right: 20px;
    bottom: 25px;
    color: rgba(10,10,10,0.3);
}

.notAtoms {
    border: .1px solid #e2564f;
    color: #e2564f !important;
    cursor: auto;
    border-radius: 0px;
    font-weight: normal;
}

.notAtoms:hover {
    background-color: white;
    color: #e2564f !important;
}