.elementsContent {
    background: rgba(10, 10, 10, 0.04);
    padding: 10px 20px;
}

.elementsContent:nth-child(odd) { background: white; }

.elementsContentTitle {
    color: #358bdc;
    font-size: 11px;
}

.elementsContent h6 {
    color: rgba(10, 10, 10, 0.8);
}

.elementsContent input, .elementsContent textarea {
    width: 100%;
    border: solid 1px rgba(10, 10, 10, 0.2);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: rgba(10, 10, 10, 0.9);
}