.menuElem {
    cursor: pointer;
}

.activeMenuProjects {
    background-color: rgba(111, 236, 236, 0.3);
}

.menuProjectsElem:hover {
    background-color: rgba(111, 236, 236, 0.4) !important;
}

.activeMenuAtoms {
    background-color: rgba(109, 224, 253, 0.3);
}

.menuAtomsElem:hover {
    background-color: rgba(109, 224, 253, 0.4) !important;
}