.modalBox {
    background-color: rgba(10, 10, 10, 0.5);
    z-index: 100;
    width: 100%;
    min-height: 100%;
    height: auto;
    position: fixed;
    left:0; right:0;
    top:0; bottom:0;
    display: table-cell;
    text-align: center;
    overflow: auto;
    vertical-align: middle;
}

.modalBox .modalChild {
    background-color: white;
    width: auto;
    height: auto;
    display: inline-block; /*its important to mantain consistence in the modal*/
}