body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(10, 10, 10, 0.05) !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.bg-white {
  background-color: white;
}

.btn-cta {
  background-color: #4183FF;
  color: white;
}

.goBackLink {
  color: red;
  text-decoration: none !important;
}

.goBackLink:hover {
  color: red;
}

.ellipsisText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smallBoxLoader {
  border-radius: 2px;
  position: absolute;
  bottom: 20px;
  left: 40px;
  background-color: rgba(10, 10, 10, 0.05);
  height: 25px;
  width: 60px;
}

.mainColor {
  color: #4183FF;
}