/* Add group */
body {
    background-color: rgba(10, 10, 10, 0.03) !important;
}

.basic-form {
    background-color: white;
}

.card {
    border: 1px solid rgba(0,0,0,.05) !important;
}

.my-form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(10,10,10,0.1);
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.my-form-control:focus{
    color: #495057;
    background-color: #fff;
    outline: 0;
    border-color: #C70039;
    box-shadow: 0 0 0 0.1rem rgba(247,22,82,.25);
}

.bg-addGroup {
    background-color:  #DC2B50 !important;
}

.selectedCountry {
    font-size: 12px;
    color: black;
    background-color: rgba(10, 10, 10, 0.05);
}

.holo {
    float: left;
    border-radius: 6px;
    color: black;
    position: absolute;
    font-size: 12px;
    line-height: 20px;
    border-top: none;
    background-color: white;
    width: 50%;
    z-index: 100;
}
.noMarginBot {
    margin-bottom: 0px !important;
}

.click {
    cursor: pointer;
}