.treeBox {
    text-decoration: none !important;
    color: rgba(10, 10, 10, 0.6);
    padding-left: 5px;
    font-size: 14px;
}
.treeBox:hover {
    color: rgba(10, 10, 10, 0.6);
}

.treeBox .treeElem {
    display: inline-flex;
    padding: 0 24px;
    height: 40px;
    margin: 4px 0;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.treeBox .atom {
    width: 200px;
    background-color: white;
}