.authContainer {
    width: 40rem !important;
    max-width: 100vw !important;
}
.myRecaptcha {
    margin: 0 auto;
    width: 304px;
}

.enabledR {
    background-color: rgba(101, 142, 204, 0.9) !important;
    color: white !important;
}

.disabledR {
    background-color: rgba(101, 142, 204, 0.3) !important;
    color: white !important;
}

.enabled {
    background-color: rgba(124, 102, 171, 0.9) !important;
    color: white !important;
}

.disabled {
    background-color: rgba(124, 102, 171, 0.3) !important;
    color: white !important;
}

.authCircleImg {
    height: 170px;
    width: 170px;
}